.label {
  flex-basis: 160px;
  text-align: right;
  font-weight: 700;
}

.inputWrapper {
  flex: 1;
}

.messageInput {
  display: block;
  border-radius: 4px;
  outline: 2px solid var(--has-error);
  width: 100%;
  height: 4rem;
}